Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS 1)
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

THERE ARE SOME DIFFERENCES BETWEEN SQL AND NOSQL DATABASE:-

1.Databases are categorized as Relational Database Management System (RDBMS).NoSQL databases are categorized as Non-relational or distributed database system.

2.SQL databases have fixed or static or predefined schema.	NoSQL databases have dynamic schema.

3.SQL databases display data in form of tables so it is known as table-based database.	NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.

4.SQL databases are vertically scalable.NoSQL databases are horizontally scalable.

5.SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.	In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.

6.SQL databases are best suited for complex queries.NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.

7.SQL databases are not best suited for hierarchical data storage.NoSQL databases are best suited for hierarchical data storage.

8.MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.	
MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS 2)
DDL is an abbreviation of Data Definition Language.

The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects. The syntax of DDL commands is predefined for describing the data. The commands of Data Definition Language deal with how the data should exist in the database.

Following are the five DDL commands in SQL:

1.CREATE Command :- CREATE is a DDL command used to create databases, tables, triggers and other database objects.
Example:
CREATE TABLE Student   
(  
Roll_No. Int ,    
First_Name Varchar (20) ,    
Last_Name Varchar (20) ,    
Age Int ,  
Marks Int ,   
) ;    

2.DROP Command :- It is used to delete/remove the database objects from the SQL database. We can easily remove the entire                   table, view, or index from the database using this DDL command.
Example:
DROP INDEX Index_Name;  

3.ALTER Command :-ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.We can also add and drop constraints of the table using the ALTER command.
Example:
ALTER TABLE StudentDROP Age, Marks;  

4.TRUNCATE Command :- TRUNCATE is another DDL command which deletes or removes all the records from the table.This command also removes the space allocated for storing the table records.
Example:
TRUNCATE TABLE Student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS 3)
DML is an abbreviation of Data Manipulation Language.

The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.

1.INSERT : It is most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
eg.:
INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19); 

2.UPDATE : UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
Example :
UPDATE Student SET Stu_Marks = 80, Stu_Age = 21 WHERE Stu_Id = 103 AND Stu_Id = 202;  

3.DELETE : DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
Example :
DELETE FROM Student WHERE Stu_Marks > 70 ;

Q4. What is DQL? Explain SELECT with an example.

ANS 4)
Basically, SQL stands for Structured Query Language which is basically a language used by databases. This language allows to handle the information using tables and shows a language to query these tables and other objects related (views, functions, procedures, etc.). Most of the databases like SQL Server, Oracle, PostgreSQL, MySQL, MariaDB handle this language (with some extensions and variations) to handle the data.

The SELECT statement is the most commonly used command in Structured Query Language. It is used to access the records from one or more database tables and views. It also retrieves the selected data that follow the conditions we want.

By using this command, we can also access the particular record from the particular column of the table. The table which stores the record returned by the SELECT statement is called a result-set table.

Example:
CREATE TABLE Student_Records   
(  
Student_Id Int PRIMARY KEY,    
First_Name VARCHAR (20),    
Address VARCHAR (20),    
Age Int NOT NULL,  
Percentage Int NOT NULL,  
Grade VARCHAR (10)   
) ;  

INSERT INTO Student VALUES (201, Akash, Delhi, 18, 89, A2),   
(202, Bhavesh, Kanpur, 19, 93, A1),  
(203, Yash, Delhi, 20, 89, A2),    
(204, Bhavna, Delhi, 19, 78, B1),  
(05, Yatin, Lucknow, 20, 75, B1),  
(206, Ishika, Ghaziabad, 19, 51, C1),  
(207, Vivek, Goa, 20, 62, B2);  

SELECT * FROM Student_Records;

Q5. Explain Primary Key and Foreign Key.

Primary Key:
1.A primary key is used to ensure data in the specific column is unique.	
2.It uniquely identifies a record in the relational database table.
3.Only one primary key is allowed in a table.It is a combination of UNIQUE and Not Null constraints.
4.It does not allow NULL values.
5.Its value cannot be deleted from the parent table.
6.It constraint can be implicitly defined on the temporary tables

Foreign Key:
1.A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
2.It refers to the field in a table which is the primary key of another table.
3.More than one foreign key are allowed in a table.
4.It can contain duplicate values and a table in a relational database.
5.It can also contain NULL values.
6.Its value can be deleted from the child table.
7.It constraint cannot be defined on the local or global temporary tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(

host="localhost",

user="abc",

password="password"
) mycursor = mydb.cursor()

mycursor.execute("select * from company.employee;")

for i in mycursor.fetchall():

print(i)

mydb.close()

cursor() : The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database. Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

execute() : The EXECUTE statement/command is used to execute the prepared statement.

Q7. Give the order of execution of SQL clauses in an SQL query.

ANS 7)
The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.

In [ ]:
SELECT O.name, (P.price * O.quantity) AS total_spent FROM Orders O JOIN Products P ON O.product_id = P.id WHERE P.price * O.quantity < 50 ORDER BY total_spent DES