QUES 1 Explain with an example each when to use a for loop and a while loop.

In [13]:
#ANS 1 for loop is used when you know the loop should execute n times and
#while loop is used for reading a file into a variable , 
#when asking for user input and when the increment value is nonstandard.
l  = [1,2,3,4,0,0]
i = 0
while l[i] > 0:
    a = l[i]**2
    print(a)
    i+=1

1
4
9
16

In [4]:
for i in range(len(l)):
    if l[i]>0:
        print(l[i]**2)

1
4
9
16

 Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [9]:
# ANS 2
n = 10
i = 1
product = 1
s= 0
while i <=10:
    s= s + i
    product = product * i
    i+=1
    
s,product

(55, 3628800)

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [12]:
# ANS 3
unit = int(input("Enter the unit : "))
if unit > 300:
    x = [100,100,100,unit-300]
elif unit > 200 and unit < 301:
    x = [100,100,unit-200]
elif unit>100 and unit <201:
    x = [100,unit-100]
elif unit <= 100:
    x = unit

if len(x) == 1:
    print("Your bill is :",x[0] * 4.5)
elif len(x) == 2:
    print("Your bill is :",x[0]* 4.5 + x[1]*6)
elif x ==3:
    print("Your bill is :",x[0]* 4.5 + x[1]*6 + x[2] *10)
else :
    print("Your bill is :",x[0]* 4.5 + x[1]*6 + x[2] *10 + x[3]*20)

Enter the unit :  310

Your bill is : 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list.

In [10]:
#ANS 4
a = []
for i in range(1,101):
    a.append(i)
l1 = []  
for i in a:
    n = i**3
    if n % 4 ==0 or n % 5 == 0:
        l1.append(n)
i = 0
l2 = []
while i < 100:
    p = a[i]**3
    if p % 4 == 0 or p % 5 == 0 :
        l2.append(p)
    i+=1
    
    
l1,l2

([8,
  64,
  125,
  216,
  512,
  1000,
  1728,
  2744,
  3375,
  4096,
  5832,
  8000,
  10648,
  13824,
  15625,
  17576,
  21952,
  27000,
  32768,
  39304,
  42875,
  46656,
  54872,
  64000,
  74088,
  85184,
  91125,
  97336,
  110592,
  125000,
  140608,
  157464,
  166375,
  175616,
  195112,
  216000,
  238328,
  262144,
  274625,
  287496,
  314432,
  343000,
  373248,
  405224,
  421875,
  438976,
  474552,
  512000,
  551368,
  592704,
  614125,
  636056,
  681472,
  729000,
  778688,
  830584,
  857375,
  884736,
  941192,
  1000000],
 [8,
  64,
  125,
  216,
  512,
  1000,
  1728,
  2744,
  3375,
  4096,
  5832,
  8000,
  10648,
  13824,
  15625,
  17576,
  21952,
  27000,
  32768,
  39304,
  42875,
  46656,
  54872,
  64000,
  74088,
  85184,
  91125,
  97336,
  110592,
  125000,
  140608,
  157464,
  166375,
  175616,
  195112,
  216000,
  238328,
  262144,
  274625,
  287496,
  314432,
  343000,
  373248,
  405224,
  421875,
  438976,
  474552,
  512000,
  551368,
  592704,
  614125,
  636056,
  681472,
  729000,
  778688,
  830584,
  857375,
  884736,
  941192,
  1000000])

Q5.  Write a program to filter count vowels in the below-given string. 
string = "I want to become a data scientist"

In [12]:
#ANS 5
string = "I want to become a data scientist"
vowel = list(filter(lambda x : x == 'a'or x =='A' or x == 'e'or x =='E' or x == 'i'or x =='I' or x == 'o'or x =='O' or x == 'u'or x =='U',string))
len(vowel)

12